@import "./../../../vars";

.new-order {
  position: relative;

  &__close {
    width: 2em;
    height: 2em;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;

    &:hover {
      &:before,
      &:after {
        color: $black;
      }
    }

    @mixin closeLines($rotate) {
      content: '';
      position: absolute;
      display: block;
      width: 1px;
      left: 50%;
      height: 100%;
      background-color: $primary-color;
      transform: rotateZ($rotate);
      transform-origin: center;

      transition: 0.3s ease all;

    }

    &:before {
      @include closeLines(45deg);
    }

    &:after {
      @include closeLines(-45deg);
    }
  }

}
