@import "./../../../vars";

.search {
  padding: 15px;
  &__request {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-gap: 15px;
    margin-bottom: 15px;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__cancel {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: $black-primary;
    text-decoration: none;
  }
}

.search-field {
  position: relative;


  &__icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
  }

  input {
    width: 100%;
    background: #FFFFFF;
    border: 2px solid #1EC025;
    border-radius: 45px;
    padding: 10px 45px;
    outline: none;

  }
}

.search-item {
  background: #F0F0F0;
  border-radius: 5px;
  padding: 15px;

  &:not(:last-child){
    margin-bottom: 10px;
  }

  &__status {
    display: inline-block;
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    text-align: center;
    padding: 4px 10px;
    border-radius: 15px;
    color: white;
    margin-bottom: 10px;

    .is-locked & {
      background-color:  #FFB629;
    }

    .is-booked & {
      background-color: #00B2FF;
    }

    .is-arrived & {
      background-color: #1EC025;
    }

  }

  &__name {
    font-family: 'Roboto Slab',serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 5px;
  }

  &__phone {
    font-size: 13px;
    line-height: 15px;
    color: #6A6A6A;
    margin-bottom: 15px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
  }

  &__date {
    font-size: 13px;
    line-height: 15px;
    color: #000000;
  }

  &__deposit {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;

    &.text--black {
      color: #000000;
    }

    &.text--grey {
      color: #ACA6A6;
    }
  }

  &__button {
    border-radius: 5px;
    padding: 11px 15px;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;

    .is-locked & {
      background-color:  #FFB629;
    }

    .is-booked & {
      background-color: #00B2FF;
    }

    .is-arrived & {
      background-color: #1EC025;
    }
  }
}
