@import "./../../../vars";

.aside {
  width: 300px;
  background-color: $primary-color;
  color: white;
  box-shadow: $base-box-shadow;
  padding: 2em 1em;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  transform: translateX(calc(-100% + 50px));
  transition: 0.3s ease all;
  z-index: 1;

  @media screen and (min-width: 1024px) {
    transform: translateX(0);
  }

  &.is-mobile-opened {
    transform: translateX(0);
  }

  &__button {
    width: 50px;
    height: 50px;
    padding: 0.75em;
    position: absolute;
    right: 0;
    top: 0;

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }

  &__menu {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;

      a {
        color: white;
      }
    }
  }
}
